<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partials/head.ejs %>
        <% include ../partials/css.ejs %>

</head>

<body ng-app='app'>

    <% include ../partials/navbar.ejs %>
        <% include ../partials/header.ejs %>
            <% include ../partials/flash.ejs %>

                <!-- Post Content -->
                <article>
                    <div class="container">
                        <div class="post-preview">

                            <%if(isUserAuthor){%>

                                <a href="/my/post/edit/<%=post._id%>" class="btn btn-info btn-md">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>

                                <a href="/my/post/delete/<%=post._id%>" class="btn btn-danger btn-md">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>

                                <%}%>

                                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                                        <p>
                                            <%=post.content%>
                                        </p>

                                        <p class="post-meta">Posted by
                                            <a href="/users/<%=post.authorId%>">
                                                <%=post.authorUsername%>
                                            </a> on
                                            <%var date = post._id.getTimestamp().toDateString()%>
                                                <%=date.substr(date.indexOf(' ')+1);%>
                                        </p>

                                    </div>
                        </div>

                        <div ng-controller='CommentController'>
                            <!-- Comments Begin -->
                            <div class="post-preview" ng-init="postId = '<%=post._id%>'; userSignedin=<%-userSignedin%>">
                                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                                    <div class="form-group">
                                        <form>
                                            <div class="row">
                                                <div class="form-group col-xs-12">

                                                    <p class="help-block" ng-hide="userSignedin">Please login to comment on the post.</p>
                                                    <h5>Comment: </h5>

                                                    <textarea class="form-control" ng-model="com" rows="5" id="comment"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-xs-12">
                                                    <button type="button" ng-disabled="!userSignedin" ng-click="addComment()" class="btn btn-default btn-xs">Post</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <div class="post-preview">
                                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                                    <div class="form-group" ng-repeat='c in comments'>
                                        <p class="post-meta">
                                            <a href="{{'/users/' + c.authorId}}">{{c.authorUsername}}</a> on {{c.time | date}}
                                        </p>
                                        <blockquote>
                                            <p>{{c.comment}}</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Comments End -->
                </article>

                <hr>
                <% include ../partials/footer.ejs %>
                    <% include ../partials/js.ejs %>

                        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

                        <script src="/js/app/app.js"></script>
                        <script src="/js/app/controllers/commentController.js"></script>

</body>

</html>